BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
PointerAlignment: Left
ColumnLimit: 80
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: true
AllowAllParametersOfDeclarationOnNextLine: true